*.class

# Package Files #
*.jar
*.war
*.ear
*.orig
*.iml
.idea/*
target/

/cluster-ids/nbproject/private/
nb-configuration.xml

/giulius/nbproject/
/giulius-settings/nbproject/
/giulius-threadpool/nbproject/
/giulius-mongodb-async-init/nbproject/
/giulius/injection-reflection-indexer/nbproject/
/injection-reflection-indexer/nbproject/
/giulius-postgres-async/nbproject/